#ignore target
02_Cargo_HelloWorld/hello_world/target
02_Cargo_HelloWorld/hello_world/Cargo.lock
03_gessing_game/target
03_gessing_game/Cargo.lock
04_take_a_break/target
04_take_a_break/Cargo.lock
05_rename_file/target
05_rename_file/Cargo.lock
06_format/target
06_format/Cargo.lock
07_std_env/target
07_std_env/Cargo.lock
08_error_handling/target
08_error_handling/Cargo.lock
09_type_size/target
09_type_size/Cargo.lock
10_matching/target
10_matching/Cargo.lock
11_collatz_conjecture/target
11_collatz_conjecture/Cargo.lock
12_ownership/target
12_ownership/Cargo.lock



